body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;

    margin: 0;
    line-height: 1.6;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.page {
    width: 100%;
    height: 100vh;

    background-color: black;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}


/* =====HEADER=====
=================== */
.header {
    padding: 1rem 0;
    background-color: #2B7DED;
}

.header-init {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
}

.nav-link {
    margin-right: 15px;
    font-size: 15px;
    font-weight: 500;

    color: white;
    text-decoration: none;

    transition: color .2s linear;
}

.nav-link:hover {
    color: #7846a7;
}

.nav-link.active {
    position: relative;
}

.nav-link.active::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 1px;
}


/* =====CONTENT=====
=================== */
.content {
    width: 100%;
    max-width: 660px;

    margin-top: 105px;
}

.content-headers {
    margin-bottom: 30px;
}

.subtitle {
    font-weight: 300;
    line-height: 1.8;
    opacity: 60%;
}

.title {
    font-weight: 500;
}

.title span {
    color: #2B7DED;
}

.text {
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.form-input,
.textarea {
    display: block;
    width: 100%;
    padding: 10px 18px;

    font-family: inherit;
    font-size: 15px;
    font-weight: 500;

    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 5px;
}

.btn-form {
    width: 100%;
    border: 0;

    font-family: inherit;
    cursor: pointer;
}

.textarea {
    height: 100px;
    resize: none;
}

.form-input::placeholder,
.textarea::placeholder {
    opacity: 1;
    color: white;
}

.contact-form {
    width: 100%;
    max-width: 280px;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: white;
    text-decoration: none;

    background-color: #2B7DED;
    padding: 12px 33px;
    border-radius: 5px;

    transition: color .2s linear;
}

.btn:hover {
    background-color: #246acd;
}

.btn:active {
    background-color: #1e57a7;
}

/* =====FOOTER=====
=================== */
.footer {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 50px;

    color: white;
    text-decoration: none;
    font-weight: 500;

    position: relative;
}

.contacts-link img {
    margin-right: 3px;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-link:last-child:after {
    content: '';
    width: 80px;
    height: 2px;
    background-color: white;
    pointer-events: none;

    position: absolute;
    top: 50%;
    right: -130px;
}


/* =====Media=====
=================== */
@media( max-width: 1060px) {
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 2rem;
        position: relative;
    }

    .container {
        padding: 0 1rem;
    }

    .footer {
        position: absolute;
        bottom: 5;
    }
}

@media( max-width: 700px) {
    .brand {
        font-size: 19px;
        margin-bottom: 10px;
    }

    .logo {
        display: none;
    }

    .content {
        margin-top: 55px;
    }
}

@media( max-width: 600px) {
    .header-init{
        flex-direction: column;
    }

    .content {
        text-align: center;
        margin-bottom: 50px;
    }

    .title {
        font-size: 23px;
    }

    .text {
        font-size: 17px;
    }

    .footer {
        position: static;
    }

    .contacts {
        flex-direction: column;
    }

    .contacts-link {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contacts-link:last-child:after{
        display: none;
    }

    .contact-form {
        margin: 0 auto;
    }
}

@media {
    .subtitle {

    }
}